<%- include('../includes/head.ejs') %> <%- include('../includes/menu.ejs')%>

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>PRODUCTS</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>

<div class="container bootdey">
    <div class="col-md-12">
    <section class="panel">
          <div class="panel-body">
              <div class="col-md-6">
                  <div class="pro-img-details"> <br>
                      <img src="https://www.bnn.in.th/pub/media/catalog/product/cache/c687aa7517cf01e65c009f6943c2b1e9/A/p/Apple-iPhone-12-Mini-Black-1-1617467336.jpg"  alt="">
                  </div>
                  <div class="pro-img-list">
                      <a href="#">
                          <img src="https://cima-afrique.org/cima/images/not-available.png"width="115px" height="100px" alt="">
                      </a>
                      <a href="#">
                          <img src="https://cima-afrique.org/cima/images/not-available.png" width="115px" height="100px"alt="">
                      </a>
                      <a href="#">
                          <img src="https://cima-afrique.org/cima/images/not-available.png" width="115px" height="100px"alt="">
                      </a>
                      <a href="#">
                          <img src="https://cima-afrique.org/cima/images/not-available.png" width="115px" height="100px" alt="">
                      </a>
<br><br>
                    </div>
              </div>
              <div class="col-md-6">
                  <br>
                  <h2>
                         APPLE IPHONE 12 128 GB BLACK
                  </h2>
                  <p>
                      Praesent ac condimentum felis. Nulla at nisl orci, at dignissim dolor, The best product descriptions address your ideal buyer directly and personally. The best product descriptions address your ideal buyer directly and personally.
                  </p>
                  <div class="product_meta">
                      <span class="posted_in"> <strong>Categories:</strong> <a rel="tag" href="#">Jackets</a>, <a rel="tag" href="#">Men</a>, <a rel="tag" href="#">Shirts</a>, <a rel="tag" href="#">T-shirt</a>.</span>
                      <span class="tagged_as"><strong>Tags:</strong> <a rel="tag" href="#">mens</a>, <a rel="tag" href="#">womens</a>.</span>
                  </div>
                  <div class="m-bot15"> <strong>Price : </strong> <span class="amount-old">$544</span>  <span class="pro-price"> $300.00</span></div>
                  <br>
                <div class="quantity quantitys">
                    <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                </div>
                  <p>
                      <button class="btn btn-round btn-new" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                  </p>
              </div>
          </div>
      </section>
      </div>
      </div>



<br><br><br><br>

<%- include('../includes/end.ejs') %>



<style>
body{margin-top:20px;
    /* background:#eee; */
    background-color: white;

    }
    
    /*panel*/
    .panel {
        border: none;
        box-shadow: none;
    }
    
    .panel-heading {
        border-color:#eff2f7 ;
        font-size: 16px;
        font-weight: 300;
    }
    
    .panel-title {
        color: #2A3542;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 0;
        margin-top: 0;
        font-family: 'Open Sans', sans-serif;
    }
    
    /*product list*/
    .btn-new {
    color: #fff;
    background-color: #5a88ca;
    border-color: white;
    width: 114px;
    height: 45px;
}
    .prod-cat li a{
        border-bottom: 1px dashed #d9d9d9;
    }
    
    .prod-cat li a {
        color: #3b3b3b;
    }
    
    .prod-cat li ul {
        margin-left: 30px;
    }
    
    .prod-cat li ul li a{
        border-bottom:none;
    }
    .prod-cat li ul li a:hover,.prod-cat li ul li a:focus, .prod-cat li ul li.active a , .prod-cat li a:hover,.prod-cat li a:focus, .prod-cat li a.active{
        background: none;
        color: #ff7261;
    }
    
    .pro-lab{
        margin-right: 20px;
        font-weight: normal;
    }
    
    .pro-sort {
        padding-right: 20px;
        float: left;
    }
    
    .pro-page-list {
        margin: 5px 0 0 0;
    }
    
    .product-list img{
        width: 100%;
        border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
    }
    
    .product-list .pro-img-box {
        position: relative;
    }
    .adtocart {
        background: #fc5959;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        color: #fff;
        display: inline-block;
        text-align: center;
        border: 3px solid #fff;
        left: 45%;
        bottom: -25px;
        position: absolute;
    }
    
    .adtocart i{
        color: #fff;
        font-size: 25px;
        line-height: 42px;
    }
    
    .pro-title {
        color: #5A5A5A;
        display: inline-block;
        margin-top: 20px;
        font-size: 16px;
    }
    
    .product-list .price {
        color:#fc5959 ;
        font-size: 15px;
    }
    
    .pro-img-details {
        margin-left: -15px;
    }
    
    .pro-img-details img {
        width: 100%;
        width: 100%;
    margin-top: -70px;
    margin-bottom: -30px;
    }
    
    .pro-d-title {
        font-size: 16px;
        margin-top: 0;
    }
    
    .product_meta {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 10px 0;
        margin: 15px 0;
    }
    
    .product_meta span {
        display: block;
        margin-bottom: 10px;
    }
    .product_meta a, .pro-price{
        color:#fc5959 ;
    }
    
    .pro-price, .amount-old {
        font-size: 18px;
        padding: 0 10px;
    }
    
    .amount-old {
        text-decoration: line-through;
    }
    
    .quantity {
        width: 120px;
    }
    .quantitys {
    float: left;
    margin-right: -34px;
}
    
    .pro-img-list {
        margin: 10px 0 0 -15px;
        width: 100%;
        display: inline-block;
    }
    
    .pro-img-list a {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    
    .pro-d-head {
        font-size: 18px;
        font-weight: 300;
    }
    .quantity input[type="number"] {
    border: 2px solid #5a88ca;
    padding: 11px;
    text-align: center;
    width: 70px;
    }
    </style>
